@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body {
  background:#231F20;
  text-align:center;
}

h1 {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:550px;
}

p::before /*p::after*/ {
    content: 'hi';
    background:#4A90E2;
    display: inline;
    width: 25px;
    height: 30px;
    position: absolute;
}

p::before {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;;
}

p::after {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;;
}

selector for the left semicircle, selector for the right semicircle {
  /* properties of both semicircles:  */
  /* - Winc-blue background ... background:#4A90E2; */
  /* - content is empty string  */
  /* - display... block? Inline-block? */
  /* - how many px should the height be? */
  /* - how many px should the width be? */
  /* - absolute position */
}

selector for the left semicircle {  
/* border radius, generator: <http://border-radius.com/> */
/* Position your semicircle using left and top */
}

selector for the right semicircle {  
/* border radius, generator: <http://border-radius.com/> */
/* Position your semicircle using left and top */
}